@import url('https://fonts.googleapis/com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    background-image: url(background.png)
}
body
{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.contact
{
    position: relative;
    min-height: 50vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    top: 0px;
}
p
{
    font-weight: 300;
    color: #fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icone
{
    min-width: 60px;
    height: 60px;
    background-color: darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3
{
    font-weight: 500;
    color: aqua;
}
.contactform
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputBox spam
{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5%;
    color: #666;
}
.contactform .inputBox input:focus ~ spam,
.contactform .inputBox input:valid ~ spam,
.contactform .inputBox textarea:focus ~ spam,
.contactform .inputBox textarea:valid ~ spam
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
} 
.contactform .inputBox input[type="submit"]
{
    width: 100px;
    background:  #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactinfo
    {
        margin-top: 40px;
    }
    .container .contactinfo,
    .contactform
    {
        width: 100px;
    }
}